<mat-card class="myads-card mb-4" *ngFor="let oneAds of myAdsList; let i=index">
    <mat-card-content class="text-start">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-flex pointer-cursor" (click)="goToDetails(oneAds.id)">
                <div class="m-1"><img  [src]="baseUrlImage+oneAds.image+'?w=100&h=100'" class="img-fluid" [alt]="oneAds.title"></div>
                <div class="m-1">
                    <p class="date">{{ oneAds.fromDate | date: 'shortTime' }} - {{oneAds.fromDate | date: 'shortDate' }} </p>
                    <h4>{{ oneAds.title | slice:0:80 }} </h4>
                    <p class="ads-desc">{{ oneAds.description }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <p class="price primary-font-color text-center">{{ oneAds.price }} {{ 'SAR' | translate }}</p>
            </div>
            <div class="col-md-4 text-center">
                <!-- <button type="button" class="btn btn-secondary text-danger mr-2 ml-2">{{'stopAds' | translate}}</button> -->
                <button mat-raised-button *ngIf="(oneAds.rejected==true)" color="accent" (click) ="Reject(oneAds)" >
                    ايقاف الاعلان
                </button>
                <button mat-raised-button *ngIf="(oneAds.rejected==false)" color="accent" (click) ="Reject(oneAds)" >
                    تفعيل الاعلان
                </button>
                <button type="button" (click)="goToEdit(oneAds.id)" class="btn btn-secondary text-success mr-2 ml-2">{{'editAds' | translate}}</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>