.send-request-form{
    width: 90%;
    margin: 1rem auto;
}
.ads-owner-card .mat-card-content{
    background: #F1F1F1;
    .list-group-item{
        color: #7E7E7E;
    }
}
iframe{
    border-radius: 6px;
}
#divshow .alert{
    max-width: 600px;
    margin: auto;
}