<mat-card class="auth-card">
    <mat-card-header>
        <mat-card-title>{{ 'change' | translate }}  {{ 'password' | translate }}</mat-card-title>
        <button class="btn btn-light rounded-circle float-end" (click)="closeDialog()"><i class="fa fa-times"></i></button>
    </mat-card-header>
    <mat-card-content>
        <div class="lock-box">
            <span class="material-icons valign-middle">lock</span>
        </div>
        <ng-template matStepLabel>{{ 'change' | translate }} {{ 'password' | translate }}</ng-template>
        <p class="text-center font-weight-bold">{{'enter' | translate }} {{ 'newPassword' | translate }}</p>
        <form [formGroup]="FormGroup" (ngSubmit)="SendPassword()">
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field   appearance="standard" class="w-100">
                        <mat-label>{{ 'old' | translate }}  {{ 'password' | translate }} </mat-label>
                        <input matInput  type="password" placeholder="{{'enter' | translate }} {{ 'old' | translate }}  {{'password' | translate }}" formControlName="oldPassword">
                        <mat-error *ngIf="FormGroup.controls.oldPassword.errors?.required" class="mat-error">
                            {{ 'old' | translate }}+  {{ 'password' | translate }} {{ 'isrequired' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field   appearance="standard" class="w-100">
                        <mat-label> {{ 'password' | translate }} </mat-label>
                        <input matInput  type="password" placeholder="{{'enter' | translate }} {{'password' | translate }}" formControlName="password">
                        <mat-error *ngIf="FormGroup.controls.password.errors?.required" class="mat-error">
                            {{ 'password' | translate }} {{ 'isrequired' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field   appearance="standard" class="w-100">
                        <mat-label> {{ 'Confirmpassword' | translate }} </mat-label>
                        <input matInput  type="password" placeholder="{{'enter' | translate }} {{'Confirmpassword' | translate }}" formControlName="confirmPass">
                        <mat-error *ngIf="FormGroup.controls.confirmPass.errors?.required" class="mat-error">
                            {{ 'Confirmpassword' | translate }} {{ 'isrequired' | translate }}
                        </mat-error>
                        <div *ngIf="FormGroup.hasError('notSame')" class="notmatched-error">
                            {{ 'passwordsDosntMatched' | translate }}
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary w-50" type="submit">{{ 'save' | translate }}</button>
            </div>
        </form>
        <div *ngIf="showSuccessMsg" class="mt-3" id="divshow">
            <p class="msg text-success text-center">{{'SuccessChangePassword' | translate }}</p>
        </div>
    </mat-card-content>
</mat-card>
            