<div class="col-md-12">
    <p class="title-one">{{data.titlebig}}</p>


    <div class="col-md-12">
        <img class="center" src="/../../assets/img/icon_check.svg">
    </div>
    <div class="sec-title">
        <p>{{data.titleLine}}</p>
        <p> {{data.titleLine2}}</p>
    </div>
    <div class="col-md-12">

        <button class="btn-pirnt text-center" (click)="Confirm()">{{data.titleLine3}}</button>
    </div>

    <button class="btn-primary pull-right" (click)="canecl()">{{'OK' | translate}}</button>
</div>