.input-group.uploader-group{
    background-color: rgba(40, 175, 49, .17);
    border: 0;
    padding: .5rem;
    border-radius: 6px;
    .file-name-input{
        background-color: transparent;
        border: 0;
        cursor: pointer;
        &::placeholder{
            color: rgba(40, 175, 49, .999);
        }
    }
}

.input-group.maper-group{
    background-color: rgba(239, 170, 0, .17);
    border: 0;
    padding: .5rem;
    border-radius: 6px;
    .file-name-input{
        background-color: transparent;
        border: 0;
        cursor: pointer;
        &::placeholder{
            color: rgba(239, 170, 0, .999);
        }
    }
    .btn-warning{
        background-color: rgba(239, 170, 0, .999);
        color: rgb(255,255,255);
        text-align: center;
    }
}

.second-form-holder{
    width: 80%;
    margin: 1rem auto;
}
.negotiable-checkbox{
    position: absolute;
    left: 15px;
    top: 20px;
}