.btn{
    margin-inline-end: .5rem;
}


::ng-deep .sidebar-col{
    display: none !important;
}
@media (min-width: 768px){
    ::ng-deep .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}