<div class="container tmp-vert-space">
    <h2 class="page-title text-start">{{'usingInstructions' | translate}}</h2>
    <div class="row">
        <div class="col-md-9">
            <p>{{ usingInstructionPage.content }}</p>
        </div>
        <div class="col-md-3">
            <div class="ads-area">
                <a href="https://www.google.com/" target="_blank"><img src="assets/img/ads-area1.png" alt="مساحة اعلانية" class="img-fluid"></a>
            </div>
            <div class="ads-area mt-3">
                <a href="https://www.google.com/" target="_blank"><img src="assets/img/ads-area2.png" alt="مساحة اعلانية" class="img-fluid"></a>
            </div>
        </div>
    </div>

</div>