<h2 style="text-align: center;">{{'Installment'|translate}}</h2>
<div class="col-md-12">
    <table class="table">
        <tr>
            <th class="text-center">{{'Quantity'|translate}}</th>
            <th class="text-center">{{'Date'|translate}}</th>
            <th class="text-center">{{'paid'|translate}}</th>
         
        </tr>
        <tr *ngFor="let d of Intervals let i = index">
            <!--each row id == id-->
            <td class="text-center">{{ d?.amount }}</td>
            <td class="text-center">{{ d?.dueDate|date }}</td>
            <td class="text-center">{{ d?.isPaid}}</td>
          
        
        </tr>
    </table>
</div>