<mat-card class="account-sidebar-card mb-4">
    <mat-card-content>
        <div class="current-user-info text-center mb-4 p-3">
            <div class="avatar">
                <span class="material-icons valign-middle no-image" *ngIf="ProfileImage==undefined" > person </span>
                <img class="img-fluid h-100" [src]="ProfileImage" style="width: 100%;" alt="{{userName}}" *ngIf="ProfileImage!=undefined">
            </div>
            <h6>{{userName}}</h6>
        </div>
        <ul class="list-group address-data text-start">
            <li class="list-group-item" routerLink="/account/my-ads" routerLinkActive="current-link">
                {{ 'myAds' | translate }}
            </li>
            <li class="list-group-item" routerLink="/account/my-services" routerLinkActive="current-link">
                {{ 'myServices' | translate }}
            </li>
            <li class="list-group-item" routerLink="/account/requests" routerLinkActive="current-link">
                {{ 'requests' | translate }}
            </li>
            <li class="list-group-item" routerLink="/account/received-complaints" routerLinkActive="current-link">
                {{ 'receivedComplaints' | translate }}
            </li>
            <li class="list-group-item" routerLink="/account/edit-profile" routerLinkActive="current-link">
                {{ 'editProfile' | translate }}
            </li>
            <li class="list-group-item" (click)="doLogout()">
                <span class="primary-font-color">{{ 'logOut' | translate }}</span> 
            </li>
        </ul>
    </mat-card-content>
</mat-card>
